body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Shippori Mincho B1', serif;
}


h1, h2,
h1 + p {
    text-align: center;
}

h1 {
    letter-spacing: 13px;
    text-shadow: 4px 4px 4px #aaa;
}

h1 + p {
    margin-bottom: 80px;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

li {
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
    list-style-type: none
}

li:last-child {
    margin-bottom: 24px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(/css/img/bg.jpg);
    background-color: #aaa;
    background-blend-mode: soft-light;
    background-size: contain;
    background-position: top right;
}

.container {
    max-width: 70%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .wrapper {
        background-size: cover;
    }
}

@media screen and (max-width: 630px) {
    .container {
        max-width: none;
        background-color: #ffffffc2;
    }
}

@media screen and (max-width: 460px) {
    h1 {
        font-size: 28px;
        letter-spacing: 4px;
    }
    h2 {
        font-size: 20px;
    }
}