body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Shippori Mincho B1', serif;
}


h1, h2,
h1 + p {
    text-align: center;
}

h1 {
    letter-spacing: 13px;
    text-shadow: 4px 4px 4px #aaa;
}

h1 + p {
    margin-bottom: 80px;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

li {
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
    list-style-type: none
}

li:last-child {
    margin-bottom: 24px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(/css/img/bg.jpg);
    background-color: #aaa;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: top center;
}

.container {
    max-width: 60%;
    height: 100vh;
    padding: 10px 0;
    background-color: #fff;
}
